<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <h1>
        <a class="navbar-brand text-danger" href="/">Tech Blog</a>
      </h1>
      <nav class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{#if logged_in}}
          <li class="nav-item">
            <a class="nav-link active text-danger" href="/dashboard">Profile</a>
          </li>
          <li class='nav-item'>
            <button class="nav-link active text-danger" id="logout">Logout</button>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link active text-danger" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-danger" href="/signup">Sign Up</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>