<div class="col-md-6">
    <h2>Dashboard</h2>

    <form class="form post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title"/>
      </div>
      <div class="form-group">
        <label for="post-content">Content:</label>
        <input class="form-input" type="text" id="post-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Post</button>
      </div>
    </form>
  </div>
</div>
<div>
{{#each posts}}
<h3>{{title}}</h3>
<p>{{content}}</p>
{{/each}}
</div>
<script src="./js/dashboard.js"></script>